/*HackerDojo CSS Group Assignment*/
*{
	font-family: sans-serif;
}
#header{
	padding-bottom: -20px;
	width:1200px;
	border:2px solid black;
	/*background-color: gray;*/
	border-bottom: 20px solid rgb(144,16,47);
}
#hackLogoimg{
	display: inline-block;
}
#navbar{
	display: inline-block;
	margin-left:100px;
	font-size: 1.3em;

}
#navbar ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0 15px;